.sidebar {
  max-width: 344px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0.4rem;

  &__top {
    background: #1970B3;;
    padding: 4px 18px;
    max-width: 175px;
    color: #FFFFFF;
  

  }
  @include media-large {
    display: none;
  }
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    color: #808080;
    font-size: 18px;
  }
  &__main {
    border: 1px solid #bebebe;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
  }
  &__item {
    text-decoration: none;
   
    display: block;
    position: relative;
    padding: 16px 0;
    padding-bottom: 25px;

    img {
      width: 100%;
    }


    p {
      font-weight: bold;
      margin: 0;
    }
    b{
      font-size: 16px;
    }
    span{
      color: #747474;
      display: block;
      font-size: 12px;
      margin-top: 10px;
    }
   
    .dat{
      margin-top: 10px;
      display: block;
      color: #747474;
      font-size: 12px;
    }
  }
  a{
    text-decoration: none;
  }
  h3{
    margin-top: 0;
  }
}
