@font-face {
	font-family: "Roboto";
	src:url("../font/RobotoLight.eot");
	src:url("../RobotoLight.eot%40#iefix")format("embedded-opentype"),
		url("../font/RobotoLight.woff") format("woff"),
		url("../font/RobotoLight.ttf") format("truetype"),
		url("../img/RobotoLight.svg#robotolight") format("svg");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Roboto";
	src:url("../font/RobotoRegular.eot");
	src:url("../RobotoRegular.eot%40#iefix")format("embedded-opentype"),
		url("../font/RobotoRegular.woff") format("woff"),
		url("../font/RobotoRegular.ttf") format("truetype"),
        url("../img/RobotoRegular.svg#robotoregular") format("svg");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Roboto";
	src:url("../font/RobotoMedium.eot");
	src:url("../RobotoMedium.eot%40#iefix")format("embedded-opentype"),
		url("../font/RobotoMedium.woff") format("woff"),
		url("../font/RobotoMedium.ttf") format("truetype"),
		url("../img/RobotoMedium.svg#robotomedium") format("svg");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Roboto";
	src:url("../font/RobotoBold.eot");
	src:url("../RobotoBold.eot%40#iefix")format("embedded-opentype"),
		url("../font/RobotoBold.woff") format("woff"),
		url("../font/RobotoBold.ttf") format("truetype"),
		url("../img/RobotoBold.svg#robotobold") format("svg");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Roboto";
	src:url("../font/RobotoBlack.eot");
	src:url("../RobotoBlack.eot%40#iefix")format("embedded-opentype"),
		url("../font/RobotoBlack.woff") format("woff"),
		url("../font/RobotoBlack.ttf") format("truetype"),
        url("../img/RobotoBlack.svg#robotoblack") format("svg");
	font-style: normal;
	font-weight: 900;
}