body {
	/*min-width: 480px;*/
    background: #000;
    font-family: 'Open Sans', sans-serif;
}

.wrap {
	background: #000;
}

.header {
	padding: 15px 0;
	background: #000;
}

.header-logo {
	width: 100%;
	width: 65px;
}
.header-nav {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 22px 0;
}
.header-nav li {
	display: inline-block;
	margin-right: 15px;
}
.header-nav li:last-child {
	margin-right: 0;
}
.header-nav li a {
	text-decoration: underline;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}

.header-form {
	margin-top: 8px;
	text-align: right;
}
.header-form a {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: -.5px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background: #e43315;
	padding: 5px;
	display: inline-block;
	border-radius: 6px;
    font-weight: 700;
    width: 100%;
    max-width: 230px;

}

.cover .row {
	position: relative;
	background: #000;

}
.cover-slide {
	position: relative;
	/*min-width: 480px;*/
	opacity: 0.8;
}
.cover-slide img {
	width: 100%;
	max-width: 600px;
}
.cover-info {
	/*position: absolute;*/
	content: ' ';
	text-align: left;
	z-index: 9;
}
.cover-info-50 {
	text-align: left;
}

.cover-info .btn {
	margin: 0;
}

.cover-info h2 {
	font-size: 37px;
	letter-spacing: -.5px;
	line-height: 1.3;
	font-weight: 800;
	color: #fff;
	margin-bottom: 20px;
}
.cover-info p {
	font-size: 20px;
	font-weight: bold;
	color: #000;
	background: #f5ca16;
	padding: 10px 20px;
	display: inline-block;
}
.cover-btn {
	margin-top: 20px;
}

.owl-nav {
    position: absolute;
    z-index: 99;
    content: '';
    left: -15px;
    right: -15px;
    top: 50%;
}
.owl-prev, 
.owl-next {
	width: 50px;
	height: 36px;
	background: none;
	outline: none;
	border: none;
	background: url(../img/slider__arrows.png) no-repeat!important;
	position: absolute;
	top: 50%;
	margin-top: -18px;
	transition: .4s ease;
}
.owl-prev.disabled,
.owl-next.disabled {
	opacity: 0.5;
}
.owl-prev:hover,
.owl-next:hover {
	transform: scale(1.2);
}
 
.owl-prev:active,
.owl-next:active {
	transform: scale(1.15);
}
.owl-prev:focus,
.owl-next:focus {
	transform: scale(1.1);
}

.owl-next span,
.owl-prev span{
	display: none!important;
}

span {
	display: none;
}

.owl-prev {
	background-position: left center!important;
	left: 20px;
}

.owl-next {
	background-position: right center!important;
	right: 20px;
}


/* BTN */
.btn {
	display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 370px;
    height: 60px;
    border: none;
    border-radius: 6px;
    background: rgb(245 202 22);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.btn:hover,
.btn:active,
.btn:focus {
	color: #000;
	outline: none;
}


.about {
	margin: 40px 0;
}

.cover-btn .btn {
    height: auto;
    font-size: 18px;
    padding: 10px 20px;
    max-width: 320px;
}


/*REVIEW*/

/* reviews 4 */

.review {
	padding: 60px 0;
	background: #d2d4d6;
}

.review .row {
	position: relative;
	padding: 0 30px;
	overflow: hidden;
}

.review-nav {
    position: absolute;
    z-index: 99;
    content: '';
    left: 0;
    right: 0;
    top: 50px;
}

h2.title {
    margin: 0 0 30px;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
}

h2.title {
    margin: 0 0 30px 0;
    display: block;
}
h2.title span {
    color: #e43315;
    white-space: nowrap;
    display: block;
}

/*h2.title span:after {
    display: block;
    content: '';
    margin: 15px 0 0;
    width: 62px;
    height: 5px;
    background: url(../images/separator_red.png) center no-repeat;
}*/

.reviews_list {
	background: #fff;
}

.review_item {
	padding: 0 0 25px;
	background: #fff;
}

.author_block {
	margin: 30px 30px 20px;
	padding: 0 50px 0 0;
	background: url(../images/quote1_icon.png) right center no-repeat;
}

.author_block img {
	display: block;
	float: left;
	width: 60px!important;
	border-radius: 50%;
}

.author_block .author_info {
	float: left;
	margin: 6px 0 0 20px;
	width: 160px;
}

.author_block .name {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}

.review_item p {
	margin: 0 30px;
}

.review .owl-prev, 
.review .owl-next {
	width: 50px;
	height: 36px;
	background: url(../images/reviews4__arrows.png) no-repeat;
	position: absolute;
	top: 132px;
}

.review .owl-prev {
	background-position: left center;
	left: 15px;
}

.review .owl-next {
	background-position: right center;
	right: 15px;
}

.review-nav .disabled {
	display: none;
}


/*FORM*/
.form {
	padding: 60px 0;
}

/*SC*/
.sc-list {
	padding: 10px 15px;
	list-style: none;
	max-width: 300px;
	width: 100%;
	background: #fff;
	display: inline-block;
	margin: 15px 0;
}
.sc-list li {
    margin: 0 0 15px;
    padding: 0 0 0 25px;
    position: relative;
}
.sc-list li:last-child {
	margin-bottom: 0;
}
.sc-list li:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    -webkit-box-shadow: 0 0 0 2px #fff inset;
    box-shadow: 0 0 0 2px #fff inset;
    position: absolute;
    top: 4px;
    left: 0;
    border: 1px solid #e43315;
    background: #e43315;
}



/*FOOTER*/
.footer {
	padding: 25px 0;
	background: #fff;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
.footer a,
.footer p {
    color: #000;
}
.footer a {
	text-decoration: underline;
}




.field[name='name'] {
    background: #ebebeb url(../images/offer__name_icon.png) 22px center no-repeat;
}
.field[name='phone'] {
    background: #ebebeb url(../images/offer__phone_icon.png) 22px center no-repeat;
}


.field,
select {
    display: block;
    margin: 0 auto 20px;
    padding: 0 20px 0 62px;
    width: 100%;
    max-width: 370px;
    height: 72px;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #777;
}